<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TuntikirjausSovellusGreen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HenkiloController</display-name>
    <servlet-name>HenkiloController</servlet-name>
    <servlet-class>batch.HenkiloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HenkiloController</servlet-name>
    <url-pattern>/HenkiloController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainUserServlet</display-name>
    <servlet-name>MainUserServlet</servlet-name>
    <servlet-class>batch.MainUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainUserServlet</servlet-name>
    <url-pattern>/MainUserServlet</url-pattern>
  </servlet-mapping>
</web-app>